<div class="inventory.network">
  <h2>MCP Network Inventory</h2>
  <p-table [value]="devices$ | async">
      <ng-template pTemplate="header">
          <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Type</th>
              <th>Vendor</th>
              <th>Location</th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-device>
          <tr>
              <td>{{device.id}}</td>
              <td>{{device.name}}</td>
              <td>{{device.type}}</td>
              <td>{{device.vendor}}</td>
              <td>{{device.location}}</td>
          </tr>
      </ng-template>
  </p-table>
</div>
